/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Thasadith&display=swap');

/* Set Up inicial*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }

.mb-3, .my-3{
  margin-bottom: 0px!important;
}

.container {
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;
  align-content: flex-start | flex-end | center | space-between | space-around | space-evenly | stretch | start | end | baseline | first baseline | last baseline + ... safe | unsafe;
}

.navlogo{
  width: 40px;
  height: 40px;
}

.navbar-inner {
    background-color:transparent;
}

div.container{
  margin-top: 0px!important;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Imagen de fondo*/

.filtro{
  background-color: rgba(0,0,0,0.5);
  height: 600px;
}


.bg1 {
  background-image: url(../img/laptop.jpg);
  height: 600px;
}

/* Parallax*/
.parallax{
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}



h2{
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
}
hr{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
margin-bottom: 40px;
}
div.container{
width: 900px;
height: 610px;
margin:35px auto;
font-family: 'Quicksand', sans-serif;
}
div.main{
width: 300px;
padding: 10px 50px 25px;
border: 2px solid gray;
border-radius: 10px;
font-family: raleway;
float:left;
margin-top:50px;
}

/* Password y Nombre*/

input[type=text],input[type=password]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
font-family: 'Quicksand', sans-serif;
}
label{
font-family: 'Quicksand', sans-serif;
font-size: 14px;
font-weight: bold;
}
center{
font-size:32px;
}
.note{
color:red;
}
.valid{
color:#fd7e14;
font-family: 'Quicksand', sans-serif;
}
.back{
text-decoration: none;
border: 1px solid rgb(0, 143, 255);
background-color: rgb(0, 214, 255);
padding: 3px 20px;
border-radius: 2px;
color: black;
}

/* Boton*/

input[type=button]{
font-size: 16px;
font-family: 'Quicksand', sans-serif;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;

}
input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

/* Footer*/
.greytext{
  color: #808080;
  padding: 1%;
}

.bkg-grey{
    background-color: black;
}

.linefooter{
    clear: both;
    border-top: 0.5px solid #A9A9A9;

}

a{
  color: #808080 !important;
}

/* AGENDA */
.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}


/* Times */
.agenda .agenda-time { width: 140px; } 


/* Events */
.agenda .agenda-events {  } 
.agenda .agenda-events .agenda-event {  } 
/* CALENDARIO */


/* MEDIA QUERIES */


@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 40px;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }

  .filters {
    bottom: 10px;
  }

    .container{
    max-width: 430px;
    margin: 5px auto;
    position: relative;
    margin-left: 10%;
  }

  .row{
    margin-left: 3%;
  }
}

/* Iphone x*/

@media all and (min-width: 100px) and (max-width: 408px) {

  .container{
    max-width: 768px;
    margin: 5px auto;
    position: relative;
    margin-left: 10%;
  }

  .row{
    margin-left: 3%;
  }
  }

/* Tableta */

@media all and (min-width: 408px) and (max-width: 768px) {



  }

/* Tableta con otro display */

@media all and (min-width: 768px) and (max-width: 992px) {

  .container{
    max-width: 992px;
    margin: 0px auto;
    position: relative;
  }
  }

/* Laptop */

@media all and (min-width: 992px) and (max-width: 1200px) {

  }

/* Desktop */

@media all and (min-width: 1200px) and (max-width: 1800px) {
  .container{
    max-width: 1200px;
    margin: 0px auto;
    position: relative;
  }

  }
